<!doctype html>
<html>
<head>
    <title>Space Octopus Development</title>
</head>
<body>
    <header>
        <img src="" alt="Space Octopus" />
        <h1>Space Octopus Development</h1>    
    </header>
    <main>
        <section>
            <h2>Quality, Custom Web Development</h2>
        </section>
        <div id="about">
            
        </div>
    </main>
    <footer>
        &copy; Space Octopus Development
    </footer>
</body>
</html>

