<!doctype html>
<html>
<head>
    <title>Space Octopus Development</title>
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="./public/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <img src="" alt="Space Octopus" />
        <h1>Space Octopus Development</h1>
    </header>
    <main>
        <section>
            <h2>Quality, Custom Web Development</h2>
        </section>
        <div id="about">
            <h2>About</h2>
            <p>We build affordable, agile, custom applications that meet our clients needs.</p>
        </div>
        <div id="contact">
            <h2>Contact</h2>
            <p>We are excited to get started on your project.</p>
            <a href="mailto:contact@spaceoctopusdevelopment.com">contact@spaceoctopusdevelopment.com</a>
        </div>
    </main>
    <footer>
        &copy; Space Octopus Development
    </footer>
</body>
</html>

