<!doctype html>
<html>
<head>
    <title>Space Octopus Development</title>
</head>
<body>
    <header>
        <img src="" alt="Space Octopus" />
        <h1>Space Octopus Development</h1>
    </header>
    <main>
        <section>
            <h2>Quality, Custom Web Development</h2>
        </section>
        <div id="about">
            <h2>About</h2>
            <p>We build affordable, agile, custom applications that meet our clients needs.</p>
        </div>
        <div id="Contact">
            <h2>Contact</h2>
            <p>We are excited to get started on your project.</p>
            <a href="mailto:contact@spaceoctopusdevelopment.com">contact@spaceoctopusdevelopment.com</a>
        </div>
    </main>
    <footer>
        &copy; Space Octopus Development
    </footer>
</body>
</html>

