<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Space Octopus Development</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <img src="/img/oc1.png" alt="Space Octopus" id="logo" />    
            </div>
            <div class="col-md-4">
                <h1>Space Octopus <span>Development</span></h1>
            </div>            
        </div>        
    </header>
    <main class="container-fluid">
        <section class="row" id="main" data-stellar-background-ratio="2">
            <h2 class="text-center">Quality, Custom Web Development</h2>
        </section>
        <div id="about" class="row">
            <h2 class="text-center">About</h2>
            <p class="text-center">We build affordable, agile, custom applications that meet our clients needs.</p>
        </div>
        <div id="contact" class="row">
            <h2 class="text-center">Contact</h2>
            <p class="text-center">We are excited to get started on your project.</p>
            <p class="text-center"><a href="mailto:contact@spaceoctopusdevelopment.com">contact@spaceoctopusdevelopment.com</a></p>
        </div>
    </main>
    <footer class="container-fluid">
        &copy; Space Octopus Development
    </footer>
    
</body>
</html>

