/**
 * Main styles for space octopus dev
 * @rdarling
 *
 * */
.center-margin {
  margin: 0 auto;
}
.site-width {
  max-width: 1280px;
}
.hidden {
  display: none;
}
.relative {
  position: relative;
}
.left {
  float: left;
}
.right {
  float: right;
}
.brick {
  clear: both;
}
.text-center {
  text-align: center;
}
.site-center {
  margin: 0 auto;
  max-width: 1280px;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font: 2rem Helvetica, Verdana, Arial, sans-serif;
  background: #272822;
  color: #f4f4f4;
}
header {
  background: #f4f4f4;
  color: #272822;
}
#logo {
  max-width: 100px;
  margin: 1rem;
}
main .row {
  padding: 10rem;
}
#main {
  background: url(/img/star2bg.jpg) no-repeat left top fixed !important;
  color: rgba(255, 255, 255, 0.8);
}
#contact {
  background: #f4f4f4;
  color: #272822;
}
footer {
  padding: 5rem;
}
